
# ----------------------------------------------------------------------------
# DATA
# ---------------------------------------------------------------------------
*.csv
*.txt
*.parquet
*.npy
*.db 

# ----------------------------------------------------------------------------
# CONFIG
# ----------------------------------------------------------------------------
.vscode
*.lock 

# ----------------------------------------------------------------------------
# TEMP
# ----------------------------------------------------------------------------
target
draft 
raw_data

# ----------------------------------------------------------------------------
# CACHE
# ----------------------------------------------------------------------------
__pycache__
.todos
*.pyc

# ----------------------------------------------------------------------------
# KAGGLE
# ----------------------------------------------------------------------------
kaggle/mitsui
kaggle/drw
kaggle/house_prices

# ----------------------------------------------------------------------------
# DOCUMENTATION
# ----------------------------------------------------------------------------
docs
